.wrapper
{
    max-height: 3000px;
    border:1px solid rgb(158, 153, 153);
    display: flex;
    overflow-x:auto;
}
.wrapper::-webkit-scrollbar
{
    width:0;
}
.name
{
    min-width: 300px;
    height: 410px;
    line-height: 0px;
    text-align: center;
    
    background-color: rgb(150, 197, 209);
    margin-right: 2px;
}